# Site
name: "TentangKode"
title: "TentangKode"
description: "Tempat belajar bahasa pemrograman"
logo: 'assets/images/logo.png'
domain: 'https://tentangkode.net'
favicon: 'assets/images/logo.png'
baseurl: ""
google_analytics: ''
disqus: ''
mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  tentangkode:
    name: Tentangkode
    display_name: Tentangkode
    gravatar: 5834c8273fa9ba278697d3ded4c9460c
    email: jeypancer47@gmail.com
    web: https://tentangkode.net/
    twitter: https://twitter.com/tentangkode
    description: "Web Developer, Content Creator"

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
    
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

discuss: "disabled"

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: ""
adsense-data-ad-slot: ""

# Lazy Images ("enabled" or "disabled")
lazyimages: "enabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]
